.searchbox {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  font-weight: bold;
  color: #2b2828;

}

.input {
  padding: 8px;
  font-size: 16px;
  color: #333;
  border: 1px solid #d48383;
  border-radius: 7px;
}