.contact {
  display: flex;
  padding: 10px;
  border: 1px solid #d48383;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.iconText {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button:hover {
  background-color: #e53935;
}