.form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  align-items: center;
  padding: 20px;
  gap: 20px;
  border: 1px solid #d48383;
  border-radius: 10px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-weight: bold;
}

.input {
  width: 260px;
  padding: 8px;
  font-size: 16px;
}

.error {
  margin-top: 10px;
  color: #d48383;
  font-size: 12px;
}

.button:hover {
  background-color: #729a74;
}